In [34]:
import pandas as pd
table_t2d = pd.read_table('../table/QinT2D_shapely.txt')
Metadata = pd.read_table('../../Qin2012T2D/Qin2012T2D_metadata_matched.txt')
Metadata = Metadata[['Run','Diabetic']]

In [35]:
Metadata = Metadata.replace('Y', 'T2D')
Metadata = Metadata.replace('N', 'Healthy')

In [36]:
Metadata = Metadata.rename(columns={"Run":"id","Diabetic":"Status"})

In [37]:
Metadata

             id Status
0     SRR341581    T2D
1     SRR341582    T2D
2     SRR341583    T2D
3     SRR341584    T2D
4     SRR341585    T2D
..          ...    ...
147  SRR1778452    T2D
148  SRR1778453    T2D
149  SRR1778454    T2D
150  SRR1778455    T2D
151  SRR1778456    T2D

[152 rows x 2 columns]

In [38]:
df = table_t2d
df = df.loc[:, (df != 0).any(axis=0)]

In [39]:
df['sum'] = df.sum(axis=1)

/var/folders/0g/jffzlx7x0v37frp3q4ssdnp80000gn/T/ipykernel_23278/39549284.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['sum'] = df.sum(axis=1)
/var/folders/0g/jffzlx7x0v37frp3q4ssdnp80000gn/T/ipykernel_23278/39549284.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sum'] = df.sum(axis=1)

In [41]:
df.merge(Metadata, how = 'left',on = 'id').to_csv('../table/QinT2D_shapely_new.txt', sep = '\t')